.logo {
    text-align: center;
}
.logo h1 {
    font-size: 40px;
    color: #79828C;
    text-align: center;
    margin: 0; 
}
@media screen and (min-width: 768px) {
    .logo h1 {
        font-size: 60px; /* Increase font size for desktop */
    }
} 
.logo h2 {
    font-family: "Open Sans", sans-serif;
    text-align: center;
    font-size: 15px;
    font-weight: 300;
    margin: 0px;
}
@media screen and (min-width: 768px) {
    .logo h2 {
        font-size: 22px; /* Increase font size for desktop */
    }
}
.header-banner {
    background-image:  url("https://ychef.files.bbci.co.uk/1600x900/p09xq72k.jpg");
    width: 100%; 
    height: calc(100vh - 500px);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}

.introduction {
    display: flex;
    align-items: center;
    margin: 20px;
    font-size: 18px;
}
.introduction-p h2 {
    color: #79828C;
}

@media screen and (min-width: 768px) {
    .introduction-p {
        margin: 50px;
    }
}
.desktop-only {
    display: none;
}
@media screen and (min-width: 768px) {
    .desktop-only {
        display: block; 
        margin: 40px;
    }
}
header nav ul {
    display: block;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
}
@media screen and (min-width: 768px) {
    header nav ul {
        justify-content: space-around; 
        margin-top: 30px;
    }
}
header nav ul li {
    display: inline-block; /* Display list items side by side */
    margin: 0 10px; /* Add some space between the items */
}
header nav ul li a {
    color: #79828C;
    text-decoration: none;
    font-size: 15px;
}
@media screen and (min-width: 768px) {
    header nav ul li a {
        font-size: 22px;
    }
}


.recipes-h2{
    margin-left: 40px;
    margin: 20px;
    color: #79828C;
}
@media screen and (min-width: 768px) {
    .recipes-h2 {
        display: none;
    }
}
.container img {
    object-fit: cover;
    width: 300px;
    height: 300px;
    border-top-left-radius: 50% 50%; 
    border-top-right-radius: 50% 50%; 
    border-bottom-right-radius: 50% 50%; 
    border-bottom-left-radius: 50% 50%;
    max-width: 300px;
    
}
.gallery-image {
    margin: 10px;
    text-align: center;
    margin: 10px;
    position: relative;
    text-align: center;
    -webkit-flex-basis: 100px;
    -moz-flex-basis: 100px;
    flex-basis: 100px;
    
} 
.gallery-links {
    display: flex;
    flex-flow: row wrap;
    display: -webkit-flex;
    -webkit-flex-flow: row wrap;
    display: -moz-flex;
    -moz-flex-flow: row wrap;
    justify-content: center;
    -o-flex-flow: row wrap;
    justify-content: center;
}
@media screen and (min-width: 768px) {
    .gallery-links {
        justify-content: space-around;
    }
}
.post-header {       
    /*kujundus*/
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 22px;
    letter-spacing: 0;
    color: #ffffff;
    text-transform: uppercase;
    text-shadow: 3px 3px 9px #111111;
       /*positsioneerimine*/
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}
footer {
    width: calc(100% - 80px);
    padding: 40px 40px;
    background-color: #79828C;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    
}

.footer-sm {
    width: 32px;
    align-items: center;
    
}
.footer-sm img { 
    width: 100%;
    margin: 12px 0;
    
}

.contact-links {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-size: 18px;
    letter-spacing: 2px;
    color: #000000;
    text-transform: uppercase;
}
@media screen and (min-width: 768px) {
    .contact-links {
        margin-left: 40px;
    }
}